/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: #2b2b2b;
    background-color: #3D311E;
    font-family: "arial", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /* HEADER */
  .header__container {
    background-color: #F1E6D8;
    max-width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
  }
  .branding {
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 20px;
  }
  .branding a {
    color: #3D311E;
  }
  .header__nav ul {
    display: flex;
    color: #3D311E;
    font-size: 15px;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .header__nav ul li a {
    color: #3D311E;
  }
  .header__nav span {
    display: block;
    width: 40rem;
    height: 1px;
    background-color: #3D311E;
    margin-left: 8rem;
    opacity: 40%;
  }
  .first__container {
    background-color: #F1E6D8;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  .infos h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #3D311E;
  }
  .infos p{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
  }
  .wrapper .image img {
    margin-top: 30px;
  }
  .wrapper .first__btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background: #E69138;
    width: 15rem;
    height: 5rem;
    border-radius: 5rem;
    margin-left: 37%;
    margin-top: 2rem;
    box-shadow: -2px 2px 4px rgb(148, 81, 46);
  }
  .wrapper .first__btn a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #F1E6D8;
    font-weight: bold;
  }

  /* PAKYU HIRAP */
  .second .second__container {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 3.3rem;
    padding-top: 1rem;
  }
  .second__container .background img {
    position: absolute;
    padding-top: 6rem;
    z-index: -1 ;

  }
  .title h1 {
    display: flex;
    justify-content: center;
    color: #F1E6D8;
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 3rem;
  }
  .content h1{
    display: flex;
    justify-content: center;
    color: #F1E6D8;
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 1rem;
    margin-top: 6rem;

  }
  .content img {
    height: 29rem;
  }
  .content .text {
    margin-top: 40px;
  }
  .frappe {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3.5rem;
  }
  .cappuccino {
    display: flex;
    flex-direction: row;
    margin-top: 17rem;
  }
  .cappuccino img {
    display: block;
    transform: scaleX(-1);
    margin-right: 3rem;
  }
  .latte {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 17rem;
  }
  .cookies {
    display: flex;
    flex-direction: row-reverse;
  }
  .cookies img {
    height: 40rem;
  }
  .cookies__second {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
  }
  .cookies__second img {
    height: 35rem;
  }
  .content .text h2 {
    color: #F1E6D8;
    font-size: 2.8rem;
    margin-bottom: 1.3rem;
  }
  .content .text p {
    color: #F1E6D8;
    font-size: 14px;
    margin-bottom: 2rem;
  }
  .content .text a {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background: #E69138;
    width: 13rem;
    height: 4rem;
    border-radius: 5rem;
    box-shadow: -2px 2px 4px rgb(148, 81, 46);
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #F1E6D8;
    font-weight: bold;
  }
  .content li {
    display: flex;
  }

  /* LAST */
  .last__container {
    background-color: #F1E6D8;
    max-width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
  }
  .last__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: #3D311E;
    
  }
  .last__img img {
    height: 18rem;
    margin-left: 13rem;
    
  }
  .last__nav span {
    display: block;
    width: 40rem;
    height: 1px;
    background-color: #3D311E;
    margin-left: 8rem;
    opacity: 40%;
  }
  .last__nav ul {
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 2rem;
    margin-top: 20px;
  }
  .last__nav ul li a {
    color: #3D311E;
  }
  .last__text {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
.icons img {
    height: 3rem;
    margin-top: 5.1rem;
    
  }
.icons {
    margin-left: 10rem;
}
.last__socmed {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.last__socmed .last__text a {
    color: #3D311E;
    text-decoration: underline;
}

/*mobile view*/
@media screen and (max-width: 500px) {
    .header__container {
        max-width: 100%;
      }
    .first__container {
        max-width: 100%;
      }
    .last__container {
        background-color: #F1E6D8;
        max-width: 100%;
      }
    .branding {
        display: flex;
        justify-content: center;
        font-size: 65px;
        margin-bottom: 20px;
      }
    .header__nav span {
        display: block;
        width: 40rem;
        height: 1px;
        background-color: #3D311E;
        margin-left: 3rem;
        opacity: 40%;
      }
    .header__nav .About{
        opacity: 0;
        position: absolute;
      }
    .second .second__container {
        max-width: 100%;
        padding-bottom: 3.3rem;
        padding-top: 1rem;
      }

    .title h1 {
        display: flex;
        justify-content: center;
      }

    .frappe {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
        padding: 2rem;
      }
    .frappe img {
        height: min-content;
        padding: 3rem;
      }
    .cappuccino {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
        padding: 2rem;
      }
    .cappuccino img {
        height: min-content;
        padding: 3rem;
      }
    .latte {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
        padding: 2rem;
      }
    .latte img {
        height: min-content;
        padding: 3rem;
      }
    .cookies {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
        padding: 2rem;
      }
    .cookies img {
        height: min-content;
        padding: 3rem;
      }
    .cookies__second {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
        padding: 2rem;
      }
    .cookies__second img {
        height: min-content;
        padding: 3rem;
      }
    .content .text a {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        background: #E69138;
        width: 15rem;
        height: 5rem;
        border-radius: 5rem;
        box-shadow: -2px 2px 4px rgb(148, 81, 46);
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        color: #F1E6D8;
        font-weight: bold;
      }
    .last__img img {
        margin-left: 0.4rem;
        height: max-content;
    }
    .last__nav span {
        display: block;
        width: 38rem;
        height: 1px;
        background-color: #3D311E;
        margin-left: 3rem;
        opacity: 40%;
    }
    .account__last {
        position: absolute;
        opacity: 0;
    }
    .last__socmed {
        display: flex;
        flex-direction: column;
    }
    .icons {
        margin-left: 15rem;
    }


}
